p, #vacationHeadline {
    font-weight: bold;
}

#highTemp, #lowTemp, #arrival, #departure, #cloudCover, #windSpeed, #precipitation{
    display: inline;    
}

#place{
    margin-left: 1%;
    margin-top: 1%;
    font-size: 16pt;
}

table.table-bordered{
    border:1.5px solid black;
  }
table.table-bordered > thead > tr > th{
    border:1.5px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1.5px solid black;
}

#items {
    border-top: 0.5px solid black;
}

#hiddenElement{
    display: none;   
}
