a {
    color: black;
} 

a:visited {
    color: black;
}

a:hover {
    color: darkslategrey;
    text-decoration: none;
}

.form-group, .form-control, label {
    margin-top: 1%;
}

.top-buffer {
    margin-top: 3%;
}

option {
    color: black;
}

.white {
    background-color:rgba(255, 255, 255, 0.8);
}

.mainContainer {
    height: 1000px;
}