a {
    color: black;
} 

.navbar-brand:visited {
    color: black;
}

.navbar-brand:hover {
    color: darkslategrey;
}
.navbar-toggler{
    width: 20%;
    padding-right: 20%;
    position: relative;
    left: 600px;
    
}

#titleProfil{
  margin-top: 6%;
    text-align: center;
}

#secondTitleProfil{
    text-align: center;
}