body {background-image: url("images/Hintergrund.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 30%;}
a {color: black;}
a:hover {color: lightgray;}
.container-fluid {background-color: white;}
#introduction {position:relative; 
               left: 40%;}