/*body {background-image: url("images/TinaTest.PNG");
      background-size: cover;
      background-position: 50% 30%;}*/
a {color: black;}
a:hover {color: lightgray;}
.container-fluid {background-color: white;}