header.masthead{
    width: 100%;
    height: 700px;
 
    background-image: url("images/Hintergrund1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin-top: -20px;
}

#intro-text{
	text-align: center;
    font-size: 13pt;
	position: relative;
	top: 230px;	
}

#demo{
		height: 700px;	
}

	
h2{
		font-size: 50px;
}

a {
    color: black;
} 

#demoButton {
    margin-top: 5%;
    background-color: transparent;
    border-color: black;
}

#demoButton:hover {
    background-color: white;
}

.container-fluid {
    background-color: white;
}

.navbar-brand:hover, .navbar-brand:visited {
    color: black;
    cursor: default;
}
