a {
    color: black;
} 

.navbar-brand:visited {
    color: black;
}

.navbar-brand:hover {
    color: darkslategrey;
}

.sidenav {
    background-color: white;
    width: 13%;
    height: 200px;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #EFF7FA;
}

#sidenavtitle {
    margin-left: 5%;
    padding-top: 7%;
    font-size: 14pt;
    font-weight: bold;
}

#headline {
    text-align: center;
}

#mainDiv {
    border: 1px solid black;
}