a {
    color: black;
} 

.navbar-brand:visited {
    color: black;
}

.navbar-brand:hover {
    color: darkslategrey;
}
.navbar-toggler{
 
    width: 20%;
    padding-right: 20%;
    position: relative;
    left: 600px;
    
}

.sidenav {
    background-color: white;
    width: 13%;
    height: 200px;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #EFF7FA;
    float: left;
}

#sidenavtitle {
    margin-left: 5%;
    padding-top: 7%;
    font-size: 14pt;
    font-weight: bold;
}

#headline {
    margin-left: 52%;
}

#mainDiv {
    border: 1px solid black;
    width: 80%;
    height: 700px;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
}

#weather, #hiddenElement{
    width: 100%;
    height: 150px;
}
#hiddenElement{
    display: none;   
}

#arrowDown, #arrowUp{    
    margin-left: 50%;
} 

#weatherItems, #defaultItems {
    border: 1px solid black;
    width: 50%;
    height: 550px; 
}

#defaultItems {
    float: right;
}

#weatherItems {
    float: left;
}