a {
    color: black;
} 

.navbar-brand:visited {
    color: black;
}


.navbar-brand:hover {
    color: darkslategrey;
}



#vacationButtons{
    margin-right: 5%;
    width:10%;
    float:right;
}

#deleteVacation{
    margin-top: 8%;
}

.sidenav {
    width: 13%;
    height: 200px;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #EFF7FA;
    float: left;
}

#sidenavtitle {
    margin-left: 5%;
    padding-top: 7%;
    font-size: 14pt;
    font-weight: bold;
}

#headline {
    margin-left: 50%;
}

p {
    font-weight: bold;
}

#highTemp, #lowTemp, #arrival, #departure, #cloudCover, #windSpeed, #precipitation{
    display: inline;    
}

#vacationData{
    float:left;
    margin-left: 20%;
    margin-top: 0%;
    font-size: 14pt;   
}

#temperature{
    margin-top: 0%;
    margin-left: 3%;  
    float:left;
    font-size:14pt;
}

h4{
    font-weight: bold;
}

#universalItem{
    float:left; 
    margin-left: 40%;
    margin-bottom: 5%;
}
#addItem{
    float:right;
    margin-right: 5%;
    margin-top: 2%;
}

#mainDiv {
    width: 80%;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
}

#cloudCoverImage, #windSpeedImage, #precipImage{
    float:left;   
}

#additionalWeather{
 margin-top: 2%; 
}

#cloudElements, #windSpeedElements, #precipElements {
    float:left;
    margin-top: 1%;
    margin-left: 1.5%;
}

#precipTypes {
    clear:both;
    float:left;
    margin-top: 2%;
    margin-left: 1%;
}

#windSpeedImage, #precipImage{
    margin-left:7%;
}

#weather, #hiddenElement{
   margin-left: 10%;
    width: 90%;
    height: 170px;
}

.table.table-bordered{
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}

#hiddenElement{
    margin-top: 3%;
    display: none;   
}

#place{
    margin-left: 1%;
    margin-top: 1%;
    font-size: 16pt;
    float:left;
}

#weatherIcon{
    clear:both;
    float:left;
    margin-left: 3%;
    margin-top: 0%;
}

#weatherItems, #defaultItems {   
    margin-top: 5%;
    width: 50%;
    text-align: center;
}

#defaultItems {
    float: right;
}

#weatherItems {
    float: left;
}